<div class="profile clearfix">
  <div class="row padding-10-sides">
    <div class="profile_pic">
      <%= image_tag 'profile.png', alt: '', class: "img-circle profile_img" %>
    </div>
  </div>
  <div class="row padding-10-sides">
    <div class="profile_info">
      <span>Bem Vindo,</span>
      <h2><%= current_admin.email %></h2>
    </div>
  </div>
</div>