<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <ul class="nav side-menu">
      <li><a><i class="fa fa-plus"></i> Cadastros Básicos <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li>
            <%= link_to admins_backoffice_admins_path do %>
              Administradores
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>